#circle {
	width: 75px;
	height: 75px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
  position: fixed;
  border: none;
}

#start-button{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: red;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}

#bar{
  width: 275px;
  height: 50px;
  top: 90%;
  float: left;
  background-color: rgb(255, 255, 0);
  position: relative;
  border-radius: 5px;
  left: 40%;
}

body{
  background: rgb(0,0,50);
}

#button-prop{
  border-style: none;
  background-color: inherit;
}

.button-area{
  position: absolute;
  left: 20%;
}
